.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.parent-component, .sub-Component, .child-Component{
  width: 80%;
  background-color: rgb(71, 223, 71);
  text-align: center;
  color: white;
  border: 2px solid whitesmoke;
  box-shadow: 10px -10px rgb(225, 115, 12);
}
.parent-component{
  background-color: rgb(12, 159, 12);
}
.child-Component{
  background-color: rgb(24, 203, 24);
}
.info{
  color: black;
  margin: 0;
}